<div class="container-fluid">
    <div class="row">
        <div class="head">
            <div class="head-text mt-3">
                Tìm kiếm việc làm cho chính bạn
            </div>
            <div class="head-text-2">
                Việc làm mới nhất, đầy đủ ngành nghề, lĩnh vực
            </div>
            <form action="/job/search" method="GET">
                <div class="row justify-content-center my-3">

                    <div class="input-group mb-3 w-25">

                        <input type="text" class="form-control" placeholder="Nhập thông tin cần tìm" name="title">
                    </div>


                    <div class="input-group mb-3 location-input" style="width: 50px;">
                        <button type="submit" class="rounded-pill px-2"><i class="fa-solid fa-magnifying-glass"
                                style="color: #000;"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="div mt-4">
        <div class="row justify-content-evenly">
            <div class="col-10">
                {{#if (isZero jobs)}}
                <div class="row justify-content-center">
                    <span class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">Kết quả cho:
                        {{title}}</span>
                        <div class="row mt-3 bg-com pb-3 mx-1 justify-content-center">

                    <div class="col-12 d-flex justify-content-center">
                        <h4>Không có thông tin việc làm này</h4>
                    </div>
                    <div class="col-12 d-flex justify-content-center">

                            <i class="fa-solid fa-x fs-1 my-3" style="color: #1a0c55 !important;"></i>
                    </div>

                        </div>
                    {{else}}
                    <div class="row">
                        <span class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">Kết quả cho:
                            {{title}}</span>
                    {{/if}}


                        {{#each jobs}}


                        <div class="col-4 p-0 m-0">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <div class="overflow-auto" style="height: 13rem">

                                        <p class="card-text">{{{this.description}}}</p>
                                    </div>

                                </div>
                                <div class="d-flex flex-bottom align-items-center button-details">


                                    <a href="/job/{{this.slug}}" class="btn btn-submit ms-1 mb-1">Chi tiết</a>


                                    <div class="mt-4">
                                        <i class="fa-solid fa-location-dot ms-2 ms-1" style="color: #595993;"></i>
                                        {{this.location}}
                                        <i class="fa-solid fa-pen-nib ms-2 ms-1" style="color: #595993;"></i>
                                        {{this.career}}
                                        <i class="fa-solid fa-user ms-2 ms-1" style="color: #595993;"></i>
                                        {{this.member}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>