<div class="container ">
    <div class="row mt-4 justify-content-center info-job">
        <div class="col-7 ">
            <h1 class="mt-2 mb-4">{{job.title}}</h1>
            <div class="d-flex align-items-center">
                <a href="/company/info/{{job.idcom}}">
                    {{#if (isEqual job.img 'new')}}
                    <img class="img-company rounded-pill" src="/img/noavatar.jpg" alt="khong-tai-duoc-hinh-anh">
                    {{else}}
                    <img class="img-company rounded-pill" src="/img/uploads/{{job.img}}" alt="khong-tai-duoc-hinh-anh">
                    {{/if}}
                </a>
                <h4><a class="mt-2 mb-4 ms-2 text-muted fs-4 text-decoration-none"
                        href="/company/info/{{job.idcom}}">{{job.company}}</a></h4>
            </div>
            <h4 class="position-relative">Mô tả công việc</h4>
            <span class="position-absolute btn-drop">
                <button class="btn p-0 px-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                    aria-expanded="true" aria-controls="collapseExample">
                    <i class="fa-solid fa-arrow-up" onclick="changeIcon(this)" style="color: #595993;"></i>
                </button>
            </span>


            <div class="text-description">
                <div class="collapse show" id="collapseExample">
                    <div class="special-character">


                        {{{job.description}}}
                    </div>

                </div>
            </div>
            <h4 class="mt-4 position-relative">Yêu cầu công việc và hồ sơ chuẩn bị</h4>
            <span class="position-absolute btn-drop">
                <button class="btn p-0 px-1" type="button" data-bs-toggle="collapse" data-bs-target="#requirement-text"
                    aria-expanded="true" aria-controls="requirement-text">
                    <i class="fa-solid fa-arrow-up" onclick="changeIcon(this)" style="color: #595993;"></i>
                </button>
            </span>
            <div class="text-requirement">
                <div class="collapse show" id="requirement-text">
                    {{{job.requirement}}}
                </div>
            </div>
            <h4 class="mt-4 position-relative">Quyền lợi</h4>
            <span class="position-absolute btn-drop">
                <button class="btn p-0 px-1" type="button" data-bs-toggle="collapse" data-bs-target="#benefit-text"
                    aria-expanded="true" aria-controls="benefit-text">
                    <i class="fa-solid fa-arrow-up" onclick="changeIcon(this)" style="color: #595993;"></i>
                </button>
            </span>
            <div class="text-benefit">
                <div class="collapse show" id="benefit-text">
                    {{{job.benefit}}}
                </div>
            </div>
            <h4 class="mt-4 position-relative">Thông tin liên hệ</h4>
            <span class="position-absolute btn-drop">
                <button class="btn p-0 px-1" type="button" data-bs-toggle="collapse" data-bs-target="#info"
                    aria-expanded="true" aria-controls="info">
                    <i class="fa-solid fa-arrow-up" onclick="changeIcon(this)" style="color: #595993;"></i>
                </button>

            </span>
            <div class="collapse show" id="info">

                <div class="table">
                    <table class="table align-middle">
                        <tr>
                            <td class="border-end">

                                Địa chỉ
                            </td>
                            <td>
                                {{ job.address }}
                            </td>
                        </tr>
                        <tr>
                            <td class="border-end">

                                Email
                            </td>
                            <td>
                                {{ job.email }}
                            </td>
                        </tr>
                        <tr>
                            <td class="border-end">
                                Số điện thoại
                            </td>
                            <td>
                                {{ job.companyphone }}
                            </td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
        <div class="col-3">
            {{#if (isSeeker user.type_user)}}
            {{#if work}}
            {{#if (isEqual user._id work.userId)}}
            <a class="btn btn-secondary disable w-100 my-1 mt-4">
                Bạn đã ứng tuyển rồi {{this.name}}
            </a>
            {{else}}
            <a class="btn btn-secondary w-100 my-1 mt-4">
                Tạm thời ngừng tuyển dụng
            </a>
            {{/if}}
            {{else}}
            {{#if (isExpired job.deadline)}}
            <a class="btn btn-secondary w-100 my-1 mt-4">
                Hết hạn nộp hồ sơ
            </a>
            {{else}}
            <a class="btn btn-submit w-100 my-1 mt-4" data-bs-toggle="modal" data-bs-target="#Confirm-Modal"
                data-bs-id="{{user._id}}">
                Ứng tuyển
            </a>
            {{/if}}
            {{/if}}
            {{else}}
            {{#if (isEqual user._id job.idcom)}}
            <a href="/company/candidate/{{job.slug}}" class="btn btn-submit w-100 my-1 mt-4">
                Danh sách ứng viên
            </a>
            {{/if}}
            {{/if}}

            <div class="border border-2 info-job-2 mt-2">
                <div class="ms-2 mb-2">

                    <p class="m-0 fw-bold mt-1">Mức thu nhập:</p>
                    {{job.salary}} VND

                    <p class="m-0 mt-1 fw-bold">Loại hình công việc:</p>
                    {{job.type}}

                    <p class="m-0 mt-2 fw-bold">Cấp bậc</p>
                    {{job.level}}

                    <p class="m-0 mt-2 fw-bold">Ngành nghề</p>
                    {{job.career}}

                    <p class="m-0 mt-2 fw-bold">Khu vực</p>
                    {{job.location}}

                    <p class="m-0 mt-2 fw-bold">Số lượng</p>
                    {{job.member}}

                    <p class="m-0 mt-2 fw-bold">Địa điểm làm việc</p>
                    {{job.address}}

                    <p class="m-0 mt-2 fw-bold">Thời hạn nhận hồ sơ</p>
                    {{convert job.deadline}}
                </div>
            </div>

            <div class="text-center mt-3">
                <i class="fa-brands fa-facebook icon-hover fs-3" style="color: #595993;"></i>
                <i class="fa-brands fa-twitter icon-hover fs-3 mx-3" style="color: #595993;"></i>
                <i class="fa-brands fa-square-instagram icon-hover fs-3" style="color: #595993;"></i>
            </div>

        </div>
    </div>
    <div class="head-body mt-5 py-2 rounded ms-1 text-white text-center fs-3">
        Việc làm với thu nhập cao
    </div>
    <div class="row mt-1 justify-content-evenly info-job">
        {{#each jobs}}
        <div class="col-2 p-0 py-2 m-0 text-dark">
            <div class="card-2 border rounded px-1" style="width: 13rem; height: 150px">
                <div class="card-body-2">
                    <p class="card-title">{{this.title}}</p>
                    <div class="d-flex justify-content-between align-items-center">

                        <p class="card-text text-muted">{{this.company}}</p>
                        <div>

                            <a href="/job/{{this.slug}}" class="btn btn-submit">Chi tiết</a>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        {{/each}}
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="Confirm-Modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-center my-3">Xác nhận ứng tuyển</h3>
                <div class="text-center">
                    <i class="fa-solid fa-triangle-exclamation fs-1" style="color: #fde58b;"></i>
                </div>
                <div class="text-center mt-3">Bạn có chắc chắn ứng tuyển công việc này?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
                <button type="button" data-bs-target="#complete-modal" data-bs-toggle="modal" data-bs-dismiss="modal"
                    class="btn btn-danger">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal 2 --}}
<div class="modal fade" id="complete-modal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true"
    tabindex="-1" shown-bs-modal="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center mt-2">
                    <i class="fa-solid fa-check fs-1" style="color: #34e5b0;"></i>
                </div>
                <div class="text-center my-3">
                    Ứng tuyển thành công!
                </div>
                <div class="text-center my-1">
                    <button type="button" id="btn-complete-apply" class="btn btn-danger">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- hidden form --}}
<form method="POST" name="apply-form">
    <input type="text" name="jobId" hidden value="{{ job._id }}">
    <input type="text" name="userId" hidden value="{{ user._id }}">
    <input type="text" name="slug" hidden value="{{ job.slug }}">
    <input type="text" name="name" hidden value="{{ job.title }}">
    <input type="text" name="userEmail" hidden value="{{ user.email }}">
</form>

<script>
    let changeIcon = function (icon) {
        icon.classList.toggle('fa-arrow-down');
        icon.classList.toggle('fa-arrow-up');
    }
    var confirmModal = document.getElementById('Confirm-Modal')
    var id
    var applyForm = document.forms['apply-form']
    confirmModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        id = button.getAttribute('data-bs-id')
    })
    var btnDeleteJob = document.getElementById('btn-complete-apply')
    btnDeleteJob.onclick = function () {
        applyForm.action = '/work/applyJob/' + id + '?_method=POST';
        applyForm.submit();
    }
</script>