<div class="div mt-4">
    <div class="row justify-content-evenly">
        <div class="col-10">
            <div class="head-body px-3 pt-2 rounded ms-1 text-white text-center fs-3">Thông tin tài khoản
            </div>
            <div class="row bg-com mx-1 my-2 pb-3">
                <div class="row justify-content-center mb-3">
                    <img src="/img/uploads/{{ seeker.image }}" class="avatar rounded-pill" alt="">
                </div>
                <div class="col-3">
                    <div class="ms-3">

                        <div class="text-title">
                            Họ và tên:
                        </div>
                        {{ seeker.name }}
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-title">
                        Email:
                    </div>
                    {{ user.email }}
                </div>
                <div class="col-2">
                    <div class="text-title">
                        Giới tính:
                    </div>
                    {{ seeker.gender }}
                </div>
                <div class="col-2">
                    <div class="text-title">
                        Ngày sinh:
                    </div>
                    {{convert seeker.birthday }}
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="ms-3">

                            <div class="text-title mt-2">
                                Địa chỉ:
                            </div>
                            {{ seeker.address }}
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="ms-3">

                            <div class="text-title mt-2">
                                Số điện thoại:
                            </div>
                            {{ seeker.phone }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="div mt-4">
    <div class="row justify-content-evenly">
        <div class="col-10">
            <div class="head-body px-3 pt-2 rounded ms-1 text-white text-center fs-3">Trình độ học vấn
             

            </div>
            <div class="row bg-com mx-1 my-2 pb-3">

                {{#if eduexps}}
                {{#each eduexps}}
                <div class="col-10">

                    <div class="row mb-2">
                        <div class="col-4">
                            <div>

                                <div class="text-title">
                                    Bằng cấp
                                </div>
                                {{ this.certificate }}
                            </div>
                            <div>
                                <div class="text-title mt-1">
                                    Nơi cấp
                                </div>
                                {{ this.school }}
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-title">
                                Ngành
                            </div>
                            {{ this.brand }}
                        </div>
                        <div class="col-4">
                            <div class="text-title">
                                Ngày nhận bằng
                            </div>
                            {{convert this.graduationday }}
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-bottom align-items-center ms-1 mb-1 button-details">
                        <a href="/seeker/{{this._id}}/editeduexp" class="btn btn-warning mx-1">Sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Delele-Edu-Modal"
                            data-bs-id="{{this._id}}">Xóa</a>
                    </div>
                </div>
                <hr>
                {{/each}}
                {{else}}

                <div class="text-center">
                    <p class="fs-4 my-3">Thông tin học vấn trống</p>
                    <div class="my-3">

                        <i class="fa-solid fa-hourglass fs-1" style="color: #595993;"></i>
                    </div>
                    
                </div>

                {{/if}}
            </div>
        </div>
    </div>
</div>
<div class="div mt-4">
    <div class="row justify-content-evenly">
        <div class="col-10">
            <div class="head-body px-3 pt-2 rounded ms-1 text-white text-center fs-3">Kinh nghiệm làm việc
                

            </div>
            <div class="row bg-com mx-1 my-2 pb-3">
                {{#if workexps}}
                {{#each workexps}}
                <div class="col-10">

                    <div class="row">


                        <div class="col-4">
                            <div>
                                <div class="text-title">
                                    Tên công ty
                                </div>
                                {{ this.companyname }}
                            </div>

                        </div>
                        <div class="col-4">
                            <div class="text-title">
                                Ngày làm việc
                            </div>
                            {{convert this.startday }}
                        </div>
                        <div class="col-4">
                            <div class="text-title">
                                Ngày kết thúc
                            </div>
                            {{convert this.endday }}
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                <div>
                                    <div class="text-title mt-1">
                                        Vị trí
                                    </div>
                                    {{ this.position }}
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="ms-2">
                                    <div class="text-title mt-1">
                                        Địa chỉ công ty
                                    </div>
                                    {{ this.companyaddress }}
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-2">
                    <div class="d-flex flex-bottom align-items-center ms-1 mb-1 button-details">
                        <a href="/seeker/{{this._id}}/editworkexp" class="btn btn-warning mx-1">Sửa</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Delele-Exp-Modal"
                            data-bs-id="{{this._id}}">Xóa</a>
                    </div>
                </div>
                <hr>
                {{/each}}

                {{else}}

                <div class="text-center">
                    <p class="fs-4 my-3">Thông tin kinh nghiệm trống</p>
                    <div class="my-3">

                        <i class="fa-solid fa-hourglass fs-1" style="color: #595993;"></i>
                    </div>
                </div>

            </div>
            {{/if}}
        </div>
    </div>
</div>