<div class="container-edit">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="position-relative">
                <h2 class="text-center mt-4">Chỉnh sửa thông tin tài khoản</h2>
            </div>
            <div class="row mt-3 bg-com pb-3">
                <div class="col-6">
                    <span class="" id="">Tên công ty</span>
                    <form action="/company/{{user._id}}?_method=PUT" method="POST">
                        <div class="input-group mb-2">
                            <input type="text" value="{{job.title}}" name="title" class="form-control" placeholder=""
                                aria-label="" aria-describedby="">
                        </div>

                        <div class="row mt-2">
                            <div class="col-6">
                                <span class="" id="">Số điện thoại</span>
                                <div class="input-group mb-2">
                                    <input type="text" value="{{job.title}}" name="phone" class="form-control"
                                        placeholder="" aria-label="" aria-describedby="">
                                </div>
                            </div>
                            <div class="col-6">
                                <span class="" id="">Ngày thành lập</span>
                                <div class="input-group mb-2">
                                    <input type="text" value="{{job.title}}" name="founding" class="form-control"
                                        placeholder="" aria-label="" aria-describedby="">
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                               
                                <span class="" id="">Địa chỉ làm việc</span>
                                <div class="input-group mb-2">
                                    <input type="text" name="address" class="form-control" value="{{ user._id }}"
                                        placeholder="" aria-label="" aria-describedby="">
                               
                            </div>

                            </div>
                            <div class="col-6">
                                <span class="" id="">Website</span>
                                <div class="input-group mb-2">
                                    <input type="number" name="member" class="form-control" value="{{job.member}}"
                                        placeholder="" aria-label="" aria-describedby="">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            
                           
                            <div class="input-group" hidden>
                                <input type="date" required name="idcom" class="form-control" value="{{ user._id }}">
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn-submit rounded-pill text-wrap">
                                <p class="p-2 my-0 mx-5">
                                    Lưu lại
                                </p>
                            </button>
                        </div>
                </div>
                <div class="col-6">
                    <span class="" id="">Giới thiệu</span>
                    <div class="input-group mb-2">
                        <textarea type="text" name="address" class="form-control"></textarea>
                    </div>
                </div>
            </div>
    </form>
        </div>
    </div>

</div>