<div class="div mt-4">
    <div class="row justify-content-evenly">
        <div class="col-10">
            <div class="row">
                <div class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">Thông tin tài khoản
                <span class="d-flex float-start mt-2">
                    <a href="/company/create">
                        <i class="fa-solid fa-plus fs-4 icon-hover" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Đăng việc làm mới" style="color: #ffffff;">
                        </i>
                    </a>
                </span>
                    <span class="d-flex float-end mt-2 position-relative">
                        <a href="/company/trash">
                            <i class="fa-solid fa-trash fs-4 icon-hover" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Thùng rác" style="color: #ffffff;">
                            </i>
                        </a>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{countDelete}}
                        </span>
                    </span>
                </div>
                <div class="col-6">
                    <div>

                    Tên công ty: {{ company.name }}
                    </div>
                    <div>
                        Email: {{ user.email }}
                    </div>
                </div>
                <div class="col-6">
                    <div>
                    Ngày thành lập: {{ company.founding }}
                    </div>
                    <div>
                        Số điện thoại: {{ company.phone }}
                    </div>
                </div>
                <div>
                    <div>

                    Giới thiệu: {{ company.introduce }}
                    </div>
                    <div>
                        Địa chỉ: {{ company.address }}
                    </div>
                    <div>
                        Website: {{ company.weburl }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

