<div class="container-edit mt-5">
    <div class="row justify-content-center">
        <div class="col-6 mt-3">
             <span class="d-flex float-start mt-3 ms-3">
                    <a href="../account/{{user._id}}">
                        <i class="fa-solid fa-less-than fs-4 icon-hover" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Chỉnh sửa thông tin" style="color: #ffffff;"></i>
                        </i>
                    </a>
                </span>
            <div class="head-body px-3 py-2 rounded ms-1 text-white text-center fs-3">
                Cập nhật thông tin tài khoản
            </div>
            <div class="row mt-3 bg-com pb-3 mx-1 justify-content-center">
                <div class="col-10 pe-3">

                    <div class="row">
                        <div class="col-6">
                            <span class="" id="">Họ và tên</span>
                            <form action="/seeker/updateinfo/{{ seeker._id }}?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="input-group mb-2">
                                    <input type="text" name="name" class="form-control" placeholder="" aria-label=""
                                        aria-describedby="" value="{{ seeker.name }}" required>
                                </div>
                        </div>
                        <div class="col-6">
                            Giới tính
                            <div class="d-flex mt-2">
                                {{#if (isGender seeker.gender)}}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1"
                                        value="Nam">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check ms-3">

                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2"
                                        value="Nữ" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Nữ
                                    </label>
                                </div>
                                {{else}}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1"
                                        value="Nam" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Nam
                                    </label>
                                </div>
                                <div class="form-check ms-3">

                                    <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2"
                                        value="Nữ">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Nữ
                                    </label>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <span class="" id="">Số điện thoại</span>
                            <div class="input-group mb-2">
                                <input type="text" name="phone" class="form-control" placeholder="" aria-label=""
                                    aria-describedby="" value="{{ seeker.phone }}" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="" id="">Ngày sinh</span>
                            <div class="input-group mb-2">
                                <input type="date" name="birthdate" class="form-control" placeholder="" aria-label=""
                                    aria-describedby="" value="{{convert seeker.birthday }}" required>
                            </div>
                        </div>
                    </div>


                    <span class="" id="">Quê quán</span>
                    <div class="input-group mb-2">
                        <input type="text" name="address" class="form-control" placeholder="" aria-label=""
                            aria-describedby="" value="{{ seeker.address }}" required>
                    </div>


                    <div class="row mt-2 justify-content-center text-center">
                        <div class="mb-2">
                            <img class="w-25" src="/img/uploads/{{ seeker.image }}" alt="">
                        </div>
                        <div class="input-group mb-3 w-50 ">
                            <input type="file" name="image" class="form-control">
                            <input type="text" name="imageurl" class="form-control" value="{{ seeker.image }}"
                                placeholder="" aria-label="" aria-describedby="" hidden>
                        </div>
                    </div>

                    <div class="input-group" hidden>
                        <input type="text" name="idseeker" class="form-control" value="{{ user._id }}">
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" class="btn-submit rounded-pill text-wrap">
                            <p class="p-2 my-0 mx-5">
                                Cập nhật
                            </p>
                        </button>
                    </div>
                </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>